<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ restaurant.name }} Menu</title>
</head>
<body>
    <h1>{{ restaurant.name }} Menu</h1>
    
    <ul>
        {% for item in menu_items %}
            <li>{{ item.item_name }} - ${{ item.price }}</li>
        {% endfor %}
    </ul>

    <div>
        <p><a href="{{ url_for('write_review', restaurant_id=restaurant.id) }}">Write a Review</a></p>
    </div>
</body>
</html>
