<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
</head>
<body>
    <h1>Restaurants</h1>
    
    <ul>
        {% for restaurant in restaurants %}
            <li><a href="{{ url_for('restaurant_menu', restaurant_id=restaurant.id) }}">{{ restaurant.name }}</a></li>
        {% endfor %}
    </ul>

    <div>
        <p><a href="{{ url_for('register') }}">Sign Up</a></p>
        <p><a href="{{ url_for('login') }}">Log In</a></p>
    </div>
</body>
</html>